version: '3.8'
services:
  server:
    container_name: websocket-chat-server
    restart: always
    build: ./server
    ports:
      - '8185:8185'
  chat-ui:
    container_name: websocket-chat-ui
    restart: always
    build: ./chat-ui
    ports:
      - '80:80'
    depends_on:
      - server